html, body, #root {
  width: 100%;
  height: 100vh;
}
.app {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #676767;
  width: 100%;
  height: 100%;
}
.button, .nav-button {
  font-size: 1.25em;
  line-height: 1.35em;
  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
}
.button {
  border-radius: 3px;
  margin: 0 0 0.5em 0.5em;
  width: 150px;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button {
  margin-right: 0.1em;
  display: inline-block;
  width: 100px;
}
.link:hover {
  cursor: pointer;
}
.link:visited, .link {
  color: white;
  text-decoration: none;
}